/* Shared Style */

.btn {
    background-color: #30b869;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}



/* Main Style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#navbar {
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#navbar .nav-items a {
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
    margin-right: 32px;
    max-width: 365px;
}


#banner {
    background-image: url(./assets/hero-bg.png);
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .banner-container {
    width: 85%;
    max-width: 1360px;
    text-align: center;
}

#banner .banner-container .banner-header .banner-header-tag {
    /* width: 229px;
    color: #30b869;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border: none;
    margin: 0 auto;  */
    height: 35px;
    width: 229px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1000px;
    gap: 6px;
    padding: 8px 12px;
} 
  
#banner .banner-container .banner-header .banner-header-tag img {
    height: 16px;
    width: 16px;
}

#banner .banner-container .banner-header .banner-header-tag a {
    text-decoration: none;
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

#banner .banner-container .banner-header .heading-1 {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

#banner .banner-container .banner-header .heading-2 {
    color: #30b869;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container .banner-header p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
    padding: 0 295px;
    margin-bottom : 16px;
}

#banner .banner-container .banner-header .info {
    margin-bottom: 32px;
}

#banner .banner-container .banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#banner .banner-container .banner-footer .btn1 .btn {
    padding: 16px;
    display: flex;   
    gap: 10px;                
}


#banner .banner-container .banner-footer .btn2 .btn {
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    background: transparent;
    display: flex;     
    gap: 10px; 
}

#notes {
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;

}

#notes .notes-heading {
    padding-top: 120px;
    margin-bottom: 16px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

#notes .notes-info {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;
}

#notes .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#notes .card-container .card {
    max-width: 322px;
    height: 300px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 -6px 16px rgba(0,0,0,0.12);


}

#notes .card-container .card .card-logo {
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}


#notes .card-container .card .card-heading {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

#notes .card-container .card .card-info {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

#solution {
    height: 840px;
    padding: 120px;
}

#solution .solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#solution .solution-container .solution-image {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

#solution .solution-container .solution-info {
    /* height: 396px; */
    /* margin: auto 0; */
}

#solution .solution-container .solution-info .solution-min-header {
    color: #30b868;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

#solution .solution-container .solution-info .solution-header {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 16px;
}

#solution .solution-container .solution-info .solution-text {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;  
}

#solution .solution-container .solution-info .solution-keys .key{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
    height: 20px;
}

#solution .solution-container .solution-info .solution-keys .key img {
    height: 20px;
    width: 20px;
}

#solution .solution-container .solution-info .solution-keys .key p {
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

#early-access {
    height: 506px;
    background-color: #FFFFFF;
}

#early-access .early-access-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding-top: 80px;
    height: 384px;
}

#early-access .early-access-container .ea-container-info {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

#early-access .early-access-container .ea-container-info .eac-header {
    font-size: 40px;
    font-weight: 700;   
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
}


#early-access .early-access-container .ea-container-info .eac-info {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

#early-access .early-access-container .ea-container-info .btn {
    display: flex;
    gap: 10px;
    padding: 16px;
    background-color: #30b869;
    margin: 0 auto;
}

#early-access .early-access-container .ea-container-info .eac-text {
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}



