/* Shared Style */

.btn {
    background-color: #30b869;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}



/* Main Style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#navbar {
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#navbar .nav-items a {
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
    margin-right: 32px;
    max-width: 365px;
}


#banner {
    background-image: url(./assets/hero-bg.png);
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .banner-container {
    width: 85%;
    max-width: 1360px;
    text-align: center;
}

#banner .banner-container .banner-header .banner-header-tag {
    color: #30b869;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-evenly;
    max-width: 229px;
    margin: 0 auto;
}

#banner .banner-container .banner-header .banner-header-tag a {
    text-decoration: none;
    color: #30b869
}

#banner .banner-container .banner-header .heading-1 {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

#banner .banner-container .banner-header .heading-2 {
    color: #30b869;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container .banner-header p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
    padding: 0 295px;
    margin-bottom : 16px;
}

#banner .banner-container .banner-header .info {
    margin-bottom: 32px;
}

#banner .banner-container .banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#banner .banner-container .banner-footer .btn1 .btn {
    padding: 16px;
    display: inline-flex;
    align-items: center;         
    justify-content: center;     
    gap: 10px;                
}


#banner .banner-container .banner-footer .btn2 .btn {
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: #FFFFFF;
    background: transparent;
    display: inline-flex;
    align-items: center;         
    justify-content: center;     
    gap: 10px; 
}


